*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: rgb(227, 230, 223);
	color: rgb(245, 245, 245);
	background-image: url(images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: center;
	line-height: 1.5;
}

p{
	margin: 30px 0px;
}

h1 {
	color: rgb(235, 235, 235);
	font-size: 48px;
	font-weight: bold;
	margin: 5px 5px;
	padding: 5px 5px;
}

h2 {
	font-size: 30px;
	font-weight: 300;
	text-transform: uppercase;
	margin: 5px 5px;
	padding: 5px 5px;
}

ul{
	display: inline-flex;
}

li {
	list-style: none;
}

i {
	font-size: 48px;
	color: rgb(116, 103, 62);
	margin: 10px 30px;
}

i:hover {
	color: rgb(77, 81, 57);
}

#round-image-profile{
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 75px;	
}

.button{
	background-color: rgba(66, 72, 67);
	color: rgb(245, 245, 245);
	font-size: 15px;
	font-weight: 700;
	text-decoration: none;
	padding: 10px 15px;
	margin: 50px;
}

.button:hover {
	background-color: rgb(30, 30, 30);
}

.card-white{
	background-color: rgba(175, 175, 175, 0.65);
	border-radius: 15px;
	padding: 30px;
	margin: 25px 0;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.075);
	transition: 0.5s ease;
}

.card-white:hover {
	background: rgba(230, 230, 230, 0.65);
}

.linked-picture{
	display: flex;
	justify-content: center;
}

.bottom-picture{
	width: 300px;
	height: 450px;
	object-fit: cover;
	margin: 5px 5px;
	transform: scale(0.975);
	transition: 0.5s ease;
}

.bottom-picture:hover {
	transform: scale(1.025);
}

.container{
	width: 1200px;
	margin: 0px auto;
}

@media (max-width: 700px){
	.container{
		width: 500px;
	}
}

@media (max-width: 500px){
	.container{
		width: 300px;
	}
}